
.nav-container {
      display: flex;
      /* justify-content: space-around; */
      align-items: center;
      gap: 1rem;
      height: 10vh;
      background-color: yellowgreen;
}


.block-elements{
  border-radius: 100px;
  border: 2px solid red;
}



.search-bar{
    display: flex;
    align-items: center;
    width: 600px;
    height: 2.3rem;
}

.search-bar > input{
    width: 95%;
    height: 2.3rem;
}

.search-bar > i{
}