
.nav-container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 10vh;
      background-color: yellowgreen;
      font-size: 1.5rem;
}


.block-elements{
  border-radius: 100px;
  border: 2px solid red;
}



.search-bar{
    display: flex;
    align-items: center;
    width: 600px;
    height: 3rem;
}

.search-bar > input{
    width: 95%;
      height: 3rem;
    /* height: 5rem; */
}

.search-bar > i{
}