
.nav-container {
      display: flex;
      align-items: center;
      gap: 0.8rem;
      height: 9vh;
      background-color: black;
      color: whitesmoke;
}
.borders{
  border: 1px solid wheat;
}
.highlights:hover{
    border: 1px solid white;
}


.block-elements{
  border-radius: 100px;
  border: 2px solid red;
}



.search-bar{
    display: flex;
    align-items: center;
    width: 600px;
    height: 2.3rem;
}

.search-bar > input{
    width: 95%;
    height: 2.3rem;
}

.search-bar > i{
}